*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/core/pcapplusplus/libs/pcapplusplus
[Dd]ebug/
[Rr]elease/

.bundle
vendor/bundle
service-account.json

keystore.properties
*.jks

fastlane/report.xml
